
* {
    box-sizing: border-box;
}

.navbar1 {
    position :fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.100);
    display: flex;
    width: 100%;
}

.navbar1 div {
    flex: auto;
    align-items: stretch;
}

.navbar-left {
    float: left
}

.navbar-center {
    float: left;
}

.navbar-right {
    float: right;
    line-height: 60px;
}

.navbar1-brand{
    position: relative;
    line-height: 60px;
    margin-right: 10px;
}

.navbar1-brand img{
    max-width: 150px;
}

.navbar1-menu {
    display: block;
}

.navbar1-menu-home {
    display: block;
}

/* navbar search */
.navbar1-search{
    background: #fff;
    border-radius: 5px;
    border: 2px solid #9999;
    margin: 10px 0;
    max-width: 500px;
}

form.navbar1-search input[type=text]{
    padding: 5px;
    border: none;
    border-radius: 10px;
    float: left;
    width: 90%;
    color: #808080;
    background: #fff;
    outline: none;
}

form.navbar1-search button{
    float: left; 
    width: 10%;
    padding: 5px;
    color: #9999;
    background: #fff;
    border: none;
    border-radius: 10px;
    border-left: 2px solid #9999;
    outline: none;
    cursor: pointer;
}

form.navbar1-search::after{
    content: "";
    clear: both;
    display: table;
}

/* sidenav  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-content {
    margin: 10px 20px;
}

.sidenav a {
    text-decoration: none;
    color: #808080;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #454545;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
}

.sidenav-icon{
    display: none;
}
